
body {
    margin: 0;
    background-color: rgb(3, 22, 37);
    color: white;
    background-image: url('background.png');
    background-size: 25%;
}

.title {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 48px;
    padding: 20px 0 20px 0;
    transition: letter-spacing 0.3s ease-out;
}
h1.interactive:hover {
    letter-spacing: 0.1em;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin: 25px auto;
}

.title p {
    padding: 4% 0;
    width: 80%;
    line-height: 1.5em;
}

.content {
    margin-top: 6%;
    text-align: left;
}

.text-block {
    position: relative;
    padding: 25px 0 25px 15px;
    background-color: rgb(16, 16, 16);
    z-index: 0;
}

.text-block.even {
    background-color:  rgb(31, 31, 31);
}

h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 28px;
    margin: 20px 0 15px 0;
}

.text-block p {
    margin: 3px 0 20px 0;
    padding-left: 10px;
    border-left: solid 10px rgb(13, 160, 228);
    width: 75%;
    transition: all 0.3s ease-in-out;
}
.text-block p:hover {
    border-color: #2be7e7;
    border-width: 25px;
    color: #2be7e7;
}

.text-block img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

.test-form {
    margin: 0 auto;
    padding: 10% 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.button {
    padding: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: 700;
    border: 4px solid white;
    width: 8em;
    text-align: center;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: white;
}

.button a {
    color: white;
    text-decoration: none;
    transition: inherit;
}

.button:hover a {
    color: black;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

footer {
    width: 100%;
    background-color: #222222;
    padding: 20px 0;
    height: 115px;
    position: absolute;
    left: 0;
    bottom: -155px;
}

.footer-links > .icons {
    position: absolute;
    width: max-content;
    text-align: right;
    right: 0;
    top: 0;
}

footer img {
    width: 40px;
    margin: 0 5px;
}

.footer-links {
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    width: 85%;
    margin: 0 auto;
}

footer p {
    margin: 10px 0;
}

footer a, footer a > span {
    color: #636363;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    color: rgb(216, 216, 216);
}

footer a:hover > span {
    color: rgb(29, 179, 216);
}

.copyright {
    width: 85%;
    margin: 0 auto;
    padding-top: 4px;
    border-top: 1px solid #3f3f3f;
}

.copyright > pre {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #747474;
}

.copyright > pre > span {
    color: rgb(216, 216, 216);
}

.form {
    text-align: center;
    margin-top: 50px;
}

.form .button {
    padding: 10px 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid white;
    width: 30%;
    text-align: center;
    margin: 15px auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.form .buttons {
    margin: 35px auto 10px auto;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.form .buttons > a {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(233, 40, 40);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.form .buttons > a:hover {
    color: #2be7e7;
}

#q-number {
    margin: 5px auto;
}

/* loading screen */

.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.loading .loading-title {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 400px;
    height: 40px;
    margin-left: -200px;
    text-align: center;
}

.loading h2 {
    margin: 0;
    padding: 0;
}

.loading .anim {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 40px;
    margin-top: -20px;
    margin-left: -45px;
    
}

@keyframes loading-anim {
    0% {
        opacity: 100%;
        height: 20px;
        margin-top: 0px;
    }
    50% {
        opacity: 50%;
        height: 30px;
        margin-top: -5px;
    }
    100% {
        opacity: 100%;
        height: 20px;
        margin-top: 0px;
    }
}

.loading .element {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    animation-name: loading-anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.55,.3,.18,.81);
}

.element#e1 {
    top: 10px;
    left: 0px;
    animation-delay: 0ms;
}

.element#e2 {
    top: 10px;
    left: 30px;
    animation-delay: -333ms;
}

.element#e3 {
    top: 10px;
    left: 60px;
    animation-delay: -666ms;
}

.result-content {
    margin: 40px 0;
}

.result-content .header {
    text-align: center;
}

.result-content h2 {
    font-family: 'Exo 2';
    margin: 15px 0 20px 0;
}

.verdict {
    position: relative;
    margin: 40px auto;
    width: 85%;
    height: 100%;
}

.result-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    border: 3px rgb(141, 202, 221) solid;
}

.result-content p {
    margin: 5px
}

.descr {
    margin: 10px 5px 0 30%;
    
}

#iq {
    font-family: 'Comfortaa', cursive;
    font-size: 48px;
    margin: 10px;
}

.result-content .main {
    text-align: center;
    margin: 45px auto;
}

.result-content a {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: rgb(241, 86, 86);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    
}
    
.result-content a:hover {
    color: #2be7e7;
}