header {
	background-color: #222;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
}

h1 {
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

.page-content {
	font-family: 'Raleway', sans-serif;
	margin-top: 7%;
}

p {
	padding: 3px;
}

a, li {
	padding: 3px;
}

aside {
	width: 400px;
	position: fixed;
	left: -400px;
	top: 0;
	height: 100%;
	transition: left 0.3s ease-in-out;
	z-index: 2;
	background-color: #f7f7f7;
	color: white;
}

.text {
	margin-left: 20px;
}

.hover-txt, a {
	color: #000;
	transition: color 0.4s;
}

.sn > a > img {
	width: 32px; height: 32px;
}

.sn > a {
	margin: 0; padding: 0;
}

aside > #title {
	font-size: 24px;
	margin: 0;
	padding: 17px 0 18px 10px;
	font-weight: 600;
	background-color: #333;
}

aside > ul > li > a {
	color: black;
	text-decoration: none;
}

aside > ul {
	margin: 0;
	clear: both;
}

aside > ul > li {
	list-style-type: none;
	border-bottom: 1px solid #666666;
	padding: 10px;
	margin-left: -40px;
}

.hover-txt:hover, a:hover {
	color: #ed4f4f;
}

@font-face {
	font-family: "icons";
	src: url("icons.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: "icons";
	font-size: 28px;
	color: white;
	text-decoration: none;
	
}

header > .icon {
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}

aside > .icon {
	position: fixed;
	top: 6px;
	left: auto;
	margin-left: 360px;
}
#bg-shading {
	top: 0;
	left: 0;
	display: none;
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.0);
	transition: background-color 0.3s ease-in-out;
}

#nav-footer {
	color: #666;
	bottom: 0;
	position: fixed;
	margin: 2px;
}