body {
	margin: 0;
}

.title {
	position: relative;
	background: url('bg2.png') no-repeat, url('bg1.png') no-repeat;
	background-position: -100px 215px, center;
	background-size: cover;
	min-height: 640px;
	transition: background-position 0.05s;
}

.head {
	position: absolute;
	left: 0;
	top: 35%;
	width: 100%;
	text-align: center;
}

.head > p {
	font-family: "Century Gothic", sans-serif;
	color: white;
	font-size: 66px;
	font-weight: 500;
	margin: 0;
	letter-spacing: 10px;
	transition: all 0.3s ease-in-out
}

.head > p:hover {
	letter-spacing: 25px;
}

.text-block {
	color: white;
	background-color: #222;
	padding: 25px 15px;
}

.text-block > p, .text-block > a {
	font-family: 'Jost', sans-serif;
	font-size: 18px;
	text-align: justify;
	margin: 0;
}

h2 {
	font-family: 'Exo 2', sans-serif;
	font-size: 26px;
	margin: 5px 0 15px 0;
}

.rate {
	position: relative;
	min-height: 60vh;
	width: 100%;
	text-align: center;
}

.stars {
	margin: 0;
	position: absolute;
	left: 0;
	top: 20%;
	text-align: center;
	width: 100%;
	background-color: black;
}

.stars > p {
	font-family: 'Jost', sans-serif;
	font-size: 28px;
	text-align: center;
	margin: 0;
	color: white;
}

.stars > span {
	margin: 3px;
	padding: 0px;
	font-size: 62px;
	color: #202027;
	transition: color 0.15s;
	cursor: pointer;
}

html {
	background-color: black;
}

.footer {
	color: #777;
}

.footer > a:hover {
	color: #de4433;
	cursor: pointer;
}